.Selected {
    background-color: aqua;
    transition: all 0.1s ease-in-out 0.05s;
}

.filterList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.filterList button {
    border: none;
    margin: 0 5px 0 5px;
    padding: 2px;    
    border-radius: 16%;
}

.filterList > button:not(.active):hover {
    background-color: rgba(175, 47, 47, 0.15);
    border: none;
    color: red;
}

.filterList > button.active {
    border-color: grey;
    color: red;
    background: rgb(62, 140, 204);
    cursor: default;
}

