* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.filterList {
    margin: 10px;
}

.filterList button {
    margin: 4px;
}

.filterList > button:not(.active):hover {
    background: rgb(62, 140, 204);
    color: red;
}

.filterList > button.active {
    border-color: grey;
    color: red;
    background: rgb(62, 140, 204);
    cursor: default;
}

