* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Selected {
    background-color: aqua;
}

.filterList {
    display: flex;
    justify-content: space-between;
    width: 8%;
    align-items: center;
    margin: 5px;
}



.filterList > button:not(.active):hover {
    background: rgb(62, 140, 204);
    color: red;
}

.filterList > button.active {
    border-color: grey;
    color: red;
    background: rgb(62, 140, 204);
    cursor: default;
}

